h4.text-justify Mentee Midterm Evaluation <hr>

b What have you done in your project so far? Tell us what you've been working on and what you have achieved.
p = @mentee_midterm_evaluation.present? ? @mentee_midterm_evaluation.project_progress : "Didn't fill in survey"

b What have you learned so far? What technologies/programming language you're working with, what is your work environment (IDE, text editor, etc.), any algorithms/design patterns/techniques that you learned.
p = @mentee_midterm_evaluation.present? ? @mentee_midterm_evaluation.language_progress : "Didn't fill in survey"

b What are three positive aspects of your work on the project?
p = @mentee_midterm_evaluation.present? ? @mentee_midterm_evaluation.positive_aspects : "Didn't fill in survey"


b What are three things that you plan on doing better in the following weeks?
p = @mentee_midterm_evaluation.present? ? @mentee_midterm_evaluation.future_plans : "Didn't fill in survey"

b How many hours a week do you spend on your project?
p = @mentee_midterm_evaluation.present? ? @mentee_midterm_evaluation.weekly_hours : "Didn't fill in survey"

b How does the mentoring process work for you? What are the positives and negatives in the interaction with your mentor?
p = @mentee_midterm_evaluation.present? ? @mentee_midterm_evaluation.mentor_impression : "Didn't fill in survey"

b Is there anything else you would like to share with us?
p = @mentee_midterm_evaluation.present? ? @mentee_midterm_evaluation.extra_info : "Didn't fill in survey"


h4.text-justify Mentee Final Survey <hr>

b Present your final product in a few sentences - we want to know what is it used for and who will be the users. What languages, techniques, tools did you use to implement your product?
p = @mentee_final_survey.present? ? @mentee_final_survey.mentee_idea_pitch : "Didn't fill in survey"

b Demo Time. We understand that everybody is in a different stage of development. We do not focus primarily if your product is finished or not. give us an idea of the state of development - be prepared to add link or upload a file of a powerpoint, keynote, presi, pdf, blogpost, screencast etc. to showcase your product. Be creative!
p
  - if @mentee_final_survey&.mentee_demo_url.present?
    = link_to "Click to open link", @mentee_final_survey&.mentee_demo_url, target: "_blank"
  - elsif @mentee_final_survey&.mentee_demo_file.present?
    = link_to "Click to see attchment", @mentee_final_survey&.mentee_demo_file.url, target: "_blank"
  - else
    = "Didn't fill in survey"

b We want to know about your journey. Be prepared to give a short recap of the 3 greatest challenges you had during the 12 weeks and what helped you overcome them? Also we would like to know how are you planning to continue your journey into IT. So please prepare a mission statement for the time after Learn IT Girl!
p = @mentee_final_survey.present? ? @mentee_final_survey.mentee_recap_and_future : "Didn't fill in survey"

b Is there anything you would like to share with us?
p = @mentee_final_survey.present? ? @mentee_final_survey.mentee_feedback : "Didn't fill in survey"

<hr>
