.displayorg
  .container
    - @organisers.each do |organiser|
      .orgdetails
        p
          =organiser.firstname
          =organiser.lastname
          =organiser.country
          =organiser.email
    - if @messages.empty?
      - @organisers.each do |organiser|
        .orgdetails
          p
            =organiser.email
      - end.empty?
      |  You have no messages. 
