.wizard {
  h1 {margin-bottom: 30px;}

  p {margin-bottom: 20px;}

  label.bottom-space{margin-bottom: 15px; }

  .form-group {margin-bottom: 20px;}

  .field_with_errors .form-control {
    border: 1px solid #CE2D29;
  }

  .buttons {
    button, a {
      margin: 30px 5px 10px;
    }
  }

  textarea {
    resize: none;
    min-height: 120px;
  }
}
