/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_directory ./application
 */
 $litg-green:#0CB1AB;
 $litg-pink:#F19EAE;
 $litg-gray:#3D4759;
 $litg-white:#FFFFFF;
 $brand-primary:$litg-pink;

 @import "variables";
 @import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
 @import "bootstrap-sass-official/assets/stylesheets/bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "mentee_profile";

.litg-green{
  color: $litg-green;
}
.litg-pink{
  color: $litg-pink;
}


.sides-padding{
  padding-left: 5px;
  padding-right: 5px;
}

.top-space{
  margin-top: 50px;
}

body {
	font-family: FontAwesome;
	font-size: 13px;
}
p {
	margin: 10px 0;
}
h3 {
	color:$litg-green;
	font-weight: 400;
	font-size: 22px;
	margin: 10px 0;
}
h2 {
	color: $litg-green;
}
a, a:hover {
	color: $litg-pink;
}
label {
	font-weight: 400;
}
div.centered {
	margin:auto;
	float: none;
}
#home-page .btn-pink {
	margin: 10px 0;
}
.top10 {
	margin-top:10px;
}
.bottom10 {
	margin-bottom:10px;
}

.left10 {
	margin-left:10px;
}
