$litg-pink:#f19eae;
$litg-green:#0CB1AB;
$litg-grey: #3d4759;
$litg-white:#FFFFFF;

$brand-primary:$litg-pink;
$navbar-default-link-color: $litg-pink;
$navbar-default-link-hover-color: $litg-pink;
$navbar-default-border: #fff;
$navbar-margin-bottom: 0;

$border-radius-large: 0;
$border-radius-base: 0;
$border-color: #ccc;
