$litg-green:#00b2ac;
$litg-pink:#f19eae;

$brand-primary:$litg-pink;
$navbar-default-link-color: $litg-pink;
$navbar-default-link-hover-color: $litg-pink;
$navbar-default-border: #fff;
$navbar-margin-bottom: 0;

$border-radius-large: 0;
$border-radius-base: 0;
$page-header-border-color: none;

$litg-grey: #3d4759;
