@import "variables";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 40px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.main-content {
  padding-bottom: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: $litg-grey;
  a {
    color: $litg-green;
    font-size: 28px;
    margin: 0 5px;
  }

  .pull-right {
    color: #fff;
    padding-top: 10px;
    a {
      color: #fff;
      font-size: 14px;
      &, &:focus, &:hover {
        text-decoration: none;
      }
    }
  }
}

.alert {
  padding: 8px;
  text-align: center;
  margin: 15px 0;
}

#top-menu {
  position: relative;
  top: 5px;
  margin-bottom: 5px;
}

nav.navbar.navbar-default {
  min-height: 15px;
  background-color: #fff;

  li a {
    padding-bottom: 0;
  }
}

header .container-fluid {
  background-color: $litg-grey;

  img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
  }

  nav.navbar.navbar-default {
    border: none;

    li.no-image a {padding-top: 20px;}

    .navbar-toggle {
      border: 1px solid #fff;
      span.icon-bar {background-color: #fff;}

      &:focus, &:active, &:hover {
        background-color: #f19eae;
        span.icon-bar {background-color: #fff;}
      }
    }

    a {
      color: #fff;

      &:hover, &:focus {
        text-decoration: none;
        color: #fff;
      }


      span.glyphicon {
        margin-right: 5px;
        font-size: 20px;
      }
    }
  }
}

.page-header {
  border: none;
  margin: 40px 0 0;
}

a:focus, a:hover {text-decoration: none;}

.white-text {
  color: #fff !important;
}

.litg-green{
  color: $litg-green;
}
.litg-pink{
  color: $litg-pink;
}

.sides-padding{
  padding-left: 5px;
  padding-right: 5px;
}

.top-space{
  margin-top: 50px;
}

body {
	font-family: "Roboto", arial, sans-serif;
	font-size: 13px;
}
p {
	margin: 10px 0;
}
h3 {
	color: $litg-green;
	font-weight: 400;
	font-size: 22px;
	margin: 10px 0;
}
h2 {
	color: $litg-green;
}
a, a:hover {
	color: $litg-pink;
}
label {
	font-weight: 400;
}
div.centered {
	margin:auto;
	float: none;
}
#home-page .btn-pink {
	margin: 10px 0;
}
.top10 {
	margin-top:10px;
}
.bottom10 {
	margin-bottom:10px;
}

.left10 {
	margin-left:10px;
}

.top-space-40{
  margin-top: 40px;
}

.top-space-100{
  margin-top: 100px;
}

.align-left {
  text-align: left;
}

.btn-pink-border {
  color: #f19eae;
  background-color: #fff;
  border: 1px solid #f19eae;
  &:hover, &:focus {
    color: #f19eae;
  }
}

.no-right-margin {
  margin-right: 0 !important;
}

.field_with_errors .form-control {
  border: 1px solid #CE2D29;
}

.top-space-20 {
  margin-top: 20px;
}

.avatar-field {
  span {
    color: #aaa;
  }
  .display-avatar {
    cursor: pointer;
    width: 150px;
    height: 150px;
    border: 1px solid #cecece;
    background-size: cover;
    background-position: center;
    &+input {display: none;}
  }
}

.red-text {
  color: #CE2D29;
  font-size: 15px;
}

.grey-text {
  color: #aaa;
}

.no-left-padding {padding-left: 0;}

header .container-fluid nav.navbar li.dropdown {
  a.dropdown-toggle {
    &, &:active, &:hover, &:focus {
      background: transparent;
    }
  }

  ul.dropdown-menu {
    background: #3d4759;
    li a{
      padding: 10px 10px 5px 10px;

      &:hover {
        background-color: #F19EAE;
      }
    }
  }
}

.date-picker {
  margin: 10px;
}

.modal-content {
  border: 5px solid $litg-green;
}
