@import "variables";

html {
  font-family: 'Hind', sans-serif!important ;
  font-size: 110%; 
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
}

body { margin-bottom: 40px; }

.main-content {
  padding-bottom: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: $litg-grey;
  a {
    color: $litg-green;
    font-size: 28px;
    margin: 0 5px;
  }

  .pull-right {
    color: #fff;
    padding-top: 10px;
    a {
      color: #fff;
      font-size: 14px;
      &, &:focus, &:hover {
        text-decoration: none;
      }
    }
  }
}

.alert {
  padding: 8px;
  text-align: center;
  margin: 15px 0;
}

#top-menu {
  position: relative;
  top: 5px;
  margin-bottom: 5px;
}

nav.navbar.navbar-default {
  min-height: 15px;
  background-color: #fff;

  li a {
    padding-bottom: 0;
  }
}

header .container-fluid {
  background-color: $litg-grey;

  img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
  }

  nav.navbar.navbar-default {
    border: none;

    li.no-image a {
      padding-top: 20px;
      font-size: 120%;
      border-bottom: 4px solid #3E4659;
      padding-bottom: 15px;
      transition: border-bottom .2s;
    }
    li.no-image a:hover {
      border-bottom: 4px solid #ff7bc2;
    }dropdown-menu
    .navbar-toggle {
      border: 1px solid #fff;
      span.icon-bar {background-color: #fff;}

      &:focus, &:active, &:hover {
        background-color: #f19eae;
        span.icon-bar {background-color: #fff;}
      }
    }

    a {
      color: #fff;
      &:hover, &:focus {
        text-decoration: none;
        color: #fff;
      }
      span.glyphicon {
        margin-right: 5px;
        font-size: 20px;
      }
    }
    a.dropdown-link {
      border-bottom: none!important;
    }
    a.dropdown-link:hover {
      border-bottom: none!important;
    }
  }
}

.page-header {
  border: none;
  margin: 40px 0 0;
}

a:focus, a:hover {text-decoration: none;}

.white-text {
  color: #fff !important;
}

.litg-green{
  color: $litg-green;
}
.litg-pink{
  color: $litg-pink;
}

.sides-padding{
  padding-left: 5px;
  padding-right: 5px;
}

.top-space{
  margin-top: 50px;
}

body {
}
p {
	margin: 10px 0;
}
h3 {
	
}
a, a:hover {
	color: $litg-pink;
}
label {
	font-weight: 400;
}
div.centered {
	margin:auto;
	float: none;
}
#home-page .btn-pink {
	margin: 10px 0;
}
.top10 {
	margin-top:10px;
}
.bottom10 {
	margin-bottom:10px;
}

.left10 {
	margin-left:10px;
}

.top-space-40{
  margin-top: 40px;
}

.top-space-100{
  margin-top: 100px;
}

.align-left {
  text-align: left;
}

.btn-pink-border {
  color: #f19eae;
  background-color: #fff;
  border: 1px solid #f19eae;
  &:hover, &:focus {
    color: #f19eae;
  }
}

.no-right-margin {
  margin-right: 0 !important;
}

.field_with_errors .form-control {
  border: 1px solid #CE2D29;
}

.top-space-20 {
  margin-top: 20px;
}

.avatar-field {
  span {
    color: #aaa;
  }
  .display-avatar {
    cursor: pointer;
    width: 150px;
    height: 150px;
    border: 1px solid #cecece;
    background-size: cover;
    background-position: center;
    &+input {display: none;}
  }
}

.red-text {
  color: #CE2D29;
  font-size: 15px;
}

.grey-text {
  color: #aaa;
}

.no-left-padding {padding-left: 0;}

header .container-fluid nav.navbar li.dropdown {
  a.dropdown-toggle {
    &, &:active, &:hover, &:focus {
      background: transparent;
    }
  }

  ul.dropdown-menu {
    background: #3d4759;
    li a{
      padding: 10px 10px 5px 10px;

      &:hover {
        background-color: #F19EAE;
      }
    }
  }
}

.date-picker {
  margin: 10px;
}

.modal-content {
  border: 5px solid $litg-green;
}

#badge-info {
  .show-badge {
    height: 100px;
  }

  .badge-description {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
  }
}




.body-content {
  width: 92%;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
}
.body-content-element {
  padding-bottom: 4%;
  border-radius: 5px;
  margin-bottom: 3%;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2),0 5px 5px 0 rgba(0,0,0,0.24);
}
.content-title {
  padding: 1% 0%;
  margin-bottom: 0;
  line-height: 1.3;
  text-align: center;
  font-size: 250%;
  background-color: #ffaeda;
  border-radius: 5px;
  width: 50%;
  color: #3E4659;
}
.content-subtitle {
  text-align: center;
  color: #01b2ac;
  font-size: 190%;
  padding: 1% 0%;
  font-weight: 600;
}
.last-editions {
  display: flex;
  margin-bottom: -5%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.last-editon {
  width: 50%;
}
.last-editon-title {
  position: absolute;
  color: #3d3d3d;
  z-index: 1;
  font-size: 150%;
  padding-top: 0;
  padding-right: 2%;
  padding-left: 5%;
  padding-bottom: 0;
  background-color: white;
  border-radius: 50px;
  font-weight: bold;
  margin-top: 8%;
}
.edition-image {
  margin-left: 5%;
  opacity: 0.9;
  filter: hue-rotate(10deg);
  border-radius: 5px;
  transition: opacity 0.3s;
  cursor: pointer;
}
.edition-image:hover {
  opacity: 0.4;
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
}
.type1 { background-color: #ffaeda; color: #3E4659; }
.type2 { background-color: #01b2ac; color: #fff; }
.content-paragraph {
  color: #3d3d3d;
  font-size: 125%;
  line-height: 1.7em;
  text-align: justify;
  padding: 2% 4%;
}