@import "variables";


.head-text{
  font-size: 36px;
  margin: 20px 0 10px;
}
.head-subtext{
  font-size: 24px;
}
.fa-facebook-official {
  font-size: 50px;
  color:#3A559F;
}
#poll-form {
  display: inline-block;
  text-align: left;

  .btn-pink {
    margin-top: -5px;
  }

  #other_language {
    left: 70px;
    top: -35px;
    display: none;
    width: 100%;
    padding: 0px;
  }
}

body.faq-action, body.timeline-action, body.git-action {
  p {
    text-align: center;
    font-size: 16px;
    line-height: 1.4;

    &.answer {margin-bottom: 25px;}
  }

  section {
    margin: 20px 0 50px;
  }

}
