@import "variables";

#home-page {
  p {
    text-align: center;
    font-size: 16px;
    line-height: 1.4;
  }

  .fa-facebook-official {
    font-size: 45px;
  }

  #poll-form {
    display: inline-block;
    text-align: left;

    .btn-pink {
      margin-top: -25px;
    }
  }

  #other_language {
    left: 70px;
    top: -35px;
  }
}
