@import "variables";

#home-page {
  .head-text{
    font-size: 36px;
    margin: 20px 0 10px;
  }
  .head-subtext{
    font-size: 24px;
  }
  .fa-facebook-official {
    font-size: 50px;
    color: #3A559F;
  }
  #poll-form {
    display: inline-block;
    text-align: left;
    #other_language {
      left: 70px;
      top: -35px;
      display: none;
      width: 100%;
      padding: 0px;
    }
  }
  
  /* Last edtions style */
  .last-editions {
    display: flex;
    margin-bottom: -5%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .last-editon {
    width: 50%;
  }
  .last-editon-title {
    position: absolute;
    color: #3d3d3d;
    z-index: 1;
    font-size: 180%;
    padding-top: 5px;
    padding-right: 2%;
    padding-left: 3%;
    padding-bottom: 5px;
    background-color: white;
    border-radius: 50px;
    font-weight: bold;
    margin-top: 8%;
  }
  .edition-image {
    margin-left: 5%;
    opacity: 0.9;
    filter: hue-rotate(10deg);
    border-radius: 5px;
    transition: opacity 0.3s;
    cursor: pointer;
  }
  .edition-image:hover {
    opacity: 0.4;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
  }
}

body.faq-action, body.timeline-action, body.git-action {
  p {
    text-align: center;
    font-size: 16px;
    line-height: 1.4;

    &.answer {margin-bottom: 25px;}
  }

  section {
    margin: 20px 0 50px;
  }

}
