
.login_page {
  h1 {margin-bottom: 30px;}

  p {margin-bottom: 40px;}

  label.bottom-space{margin-bottom: 15px; }

  .form-group {margin-bottom: 20px;
   text-align: center;          
  }

  .field_with_errors .form-control {
    border: 1px solid #CE2D29;
    text-align: center;
  }

  .buttons {
    button, a {
      margin: 30px 5px 10px;
    }
  }

  textarea {
    resize: none;
    min-height: 120px;
    
  }

  span.green-text {margin-bottom: 10px;}
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.uneditable-input {
  border: 1px solid #bbb;
   
  text-align: center;
  margin-bottom: 15px;
  @include box_sizing;
}

.inputfields {
  height: auto !important;
  
}
