@import "variables";

body.mentee_profiles-controller, body.mentor_profiles-controller {
  .profile-icon {
    width: 100%;
    max-width: 150px;
  }

  a.github {
    font-size: 14px;

    .fa {
      font-size: 40px;
      margin-right: 10px;
    }

    span {
      position: relative;
      top: -10px;
    }
  }

  .right-left-text {
    @media (min-width: 992px) {
      text-align: left;
    }
  }

  .btn.missing {margin-right: 0;}

  .badge-thumbnail {
    height: 50px;
    width: auto;
  }

  .badge-thumbnail:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }

  .show-badge {
    display: inline-block;
    width: 100%;
    max-width: 100px;
    margin-left: 3px;
  }
}

