@import "variables";

body.mentee_profiles-controller, body.mentor_profiles-controller {
  .task-form {
    input {
      border: none;
      border-bottom: 1px solid #ccc;
      -webkit-box-shadow: none;
      box-shadow: none;
      margin: 15px 0;
    }

    .btn-pink {margin: 15px 0 0;}
  }
}

