@import "variables";

body.mentee_profiles-controller, body.mentor_profiles-controller, body.tasks-controller {
  .task-form {
    input {
      border: none;
      border-bottom: 1px solid #ccc;
      -webkit-box-shadow: none;
      box-shadow: none;
      margin: 15px 0;
    }

    .field_with_errors input {
      border: 1px solid #CE2D29;
      margin: 0;
    }

    .btn-pink {margin: 15px 0 0;}
  }

  span.confirmation-left, span.confirmation-right {
    @media(min-width: 992px) {
      position: relative;
      left: -15px;
      font-size: 11px;
      font-weight: bold;
      padding-left: 0;
    }
    @media(max-width: 992px) {
      font-size: 12px;
      font-weight: bold;
    }
  }

  span.confirmation-right {
    right: 0;
    left: 0
  }

  .fa-trash.remove-task, .fa-trash.trash-task, .fa-undo.undo-trash-task, .fa-pencil {
    font-size: 22px;
    position: relative;
    top: -4px;
    cursor: pointer;
  }

  label.strike-through {
    text-decoration: line-through;
  }

  .creator-info {
    font-size: 11px;
    color: $litg-pink;
  }
}


#edit-task-modal {
  .modal-footer {padding-bottom: 0;}
  .btn {margin-top: 0;}
  .btn-default {margin: 0 15px 0 0;}
}
